doctype html
html
  head
    title Knowledge-based
    link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css')
  body
    block content
    br
    hr
    footer
      p Copyright &copy; 2017
